<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AudioEmail</title>
    <script type="text/javascript" th:src="@{/javascript/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/login.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/socket.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/stylesheet/loading.css}">
</head>
<style>

</style>
<body onload="selectComponent()">
<div class="banner" id="banner">
    MyAudioEmail
</div>
<div class="loading-container">
    <div class="lds-facebook">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="loading">
        Loading...
    </div>
</div>

</body>
</html>